<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="{{ asset('css/stylelogin.css') }}">


{% block title %}{% endblock %}

<br>
<h1>Bienvenue dans la communauté ENI</h1>
<div class="logo-centre">
<a href="{{ path('app_login') }}"><img  class="logo" src="{{ asset('img/logo.png') }}" alt="logo"></a>
</div>
{#
<figure class="image is-128x128" >
    <img class="is-rounded" src="{{ asset('img/sport.jpg') }}">
</figure>
<figure class="image is-128x128">
    <img class="is-rounded" src="{{ asset('img/cinema.jpg') }}">
</figure>#}


{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

   {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}#}

        {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html#}

    <div class="columns">
        <div class="column">

        </div>
        <div class="column">
            <label class="label">Pseudo : </label>
        </div>
        <div class="column">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success form-control" type="text" value="{{ last_username }}" name="pseudo" placeholder="Pseudo" id="inputPseudo"  autocomplete="username" required autofocus>
                <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
            </div>

        </div>
        <div class="column">

        </div>
    </div>


    <div class="columns">
        <div class="column">

        </div>
        <div class="column">
            <label class="label">Mot de passe :</label>
        </div>
        <div class="column">

            <div class="control has-icons-left has-icons-right">
                <input class="input is-success form-control" type="password" name="password" id="inputPassword"  placeholder="Mot de passe" autocomplete="current-password" required>
                <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
                <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
        </div>
        <div class="column">

        </div>
    </div>

    <div class="columns">
        <div class="column">

        </div>
        <div class="column">

        </div>
        <div class="column">
            <div class="checkbox ">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">

        </div>
        <div class="column">
            <div class="field">
                <p class="control">
                    <button class="btn btn-lg btn-primary btn-login" type="submit">
                        Se connecter
                    </button>

            </div>
        </div>
    </div>
</form>

{% endblock %}
{#<figure class="image is-128x128">
    <img class="is-rounded" src="{{ asset('img/restaurant.jpg') }}">
</figure>

<figure class="image is-128x128">
    <img class="is-rounded" src="{{ asset('img/concert.jpg') }}">
</figure>
</div>#}
