{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/SortieCSS.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div>
        <h1>Annuler une sortie</h1>
    </div>


<div class="abox a1">

    {{ form_start(form) }}

    <div class="containerFormulaire">
        <div class="colonneGauche">
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            <p>Site organisateur : {{ sortie.site.nom }}</p>
            <p>Lieu : {{ sortie.lieu.nom }}</p>
            <p>Motif :</p>
            <textarea name="motif" id="motifAnnul" cols="30" rows="10"></textarea>




    <div class="btnAlignes">
        <button class="btn">Confirmer l'annulation</button>

        <button class="btnRetour"><a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Retour</a></button>

    </div>
        </div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}



