{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <br>
    <h1>Sortie: {{ sortie.nom }}</h1>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Date et heure de la sortie: </th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Durée: </th>
                <td>{{ sortie.duree }} minutes</td>
            </tr>
            <tr>
                <th>Date limite d'inscription: </th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Description et infos: </th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>

            {#  <tr>
                <th>Organisateur</th>
                <td>{{ sortie.organisateur ? 'Yes' : 'No' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('sortie_index') }}"><button class="btn">Retour à la liste des sorties</button></a>
    <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
    <a href="{{ path('sortie_desister', {'id': sortie.id}) }}">Se désister</a>






    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"><button class="btn">Modifier la sortie</button></a>
    <a href="{{ path('sortie_delete', {'id': sortie.id}) }}"><button class="btn">Annuler la sortie</button></a>
    <br>
    <br>
    <div>@Adrien TODO: DELETE exemple auto-généré, à gérer plus tard @Adrien {{ include('sortie/_delete_form.html.twig') }}</div>

    <table class="table">
    {% for chaqueUser in sorties %}

        <tr>
            <td>
            <a href="{{ path('user_show',{"id": chaqueUser.id}) }}">{{ chaqueUser.pseudo }} {{ chaqueUser.nom }}</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
