{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    <br>
    <br>
    <br>
    <div class="container abox">
        <div class ="a1"></div>
        <div class="a1">

    {% if user.photo!=null %}
            <img src="{{ asset('upload/images/users/'~user.photo) }}"width=250" height="300" alt="">
        {% else %}
            <img src="{{ asset('upload/images/users/user2.jpg') }}">
        {% endif %}
        </div>
        <div class ="a3"></div>

        <br>
        <div class="blist a6">
        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
        <div class ="a1"></div>


        {# {{ form_row(form.pseudo) }}
    <br>
    {{ form_row(form.prenom) }}
    <br>
    {{ form_row(form.nom) }}
    <br>
    {{ form_row(form.telephone) }}
    <br>
    {{ form_row(form.mail) }}
    <br>
    {{ form_row(form.password) }}
    <br>
    {{ form_row(form.site) }}
    <br>
    {{ form_row(form.photo) }}
    <br>
    <br>
    <br>#}
    </div>




{% endblock %}