{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>


    {#<img src="{{ asset('public/upload/images/users/{{user.photo}}') }}" width=150" height="150" alt="">#}

    {% if user.photo!=null %}
        <img src="{{ asset('upload/images/users/'~user.photo) }}"width=150" height="150" alt="">
    {% else %}
        <img src="{{ asset('upload/images/users/user2.jpg') }}" alt="">
    {% endif %}
<div>
    <table class="container lignesEspacees">
        <tbody>

        <tr>
            <th>Prénom :</th>
            <td>{{ user.prenom }}</td>
        </tr>


                <th>Nom :</th>
                <td>{{ user.nom }}</td>
            </tr>

            <tr>
                <th>Téléphone :</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ user.mail }}</td>
            </tr>
        <tr>
            <th>Ville de ratachement : </th>
            <td>{{ user.site }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
</div>

    <div class="buttonretouruser">
    <button class="button is-warning button is-size-6-mobile"><a href="{{ path('user_index') }}">Retour</a></button>
    </div>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
