{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>
    <br><br>

    <div class="container aflex abox">
        <div class="a1"></div>
<div class="a1">
    {% if user.photo!=null %}
        <img src="{{ asset('upload/images/users/'~user.photo) }}"width=250" height="300" alt="">
    {% else %}
        <img src="{{ asset('upload/images/users/user2.jpg') }}" alt="">
    {% endif %}

</div>
        <div class ="a3"></div>

        <div class="a6">
            <div class="blist">
                <div class="acontent a1">
                    <h4>Prénom :</h4>
                </div>
                <div class="acontent a1">
                    <p> {{ user.prenom }}</p>
                </div>
            </div>
            <div class="blist">
                <div class="acontent a1">
                    <h4>Nom :</h4>
                </div>
                <div class="acontent a1">
                <p> {{ user.nom}}</p>
            </div>
                </div>
            <div class="blist">
                <div class="acontent a1">
                    <h4>Téléphone :</h4>
                </div>
                <div class="acontent a1">
                <p> {{ user.telephone }}</p>
            </div>
                </div>
            <div class="blist">
                <div class="acontent a1">
                    <h4> Email : </h4>
                </div>
                <div class="acontent a1">
                <p> {{ user.mail }}</p>
                    </div>
            </div>
            <div class="blist">
                <div class="acontent a1">
                    <h4> Ville de ratachement :</h4>
                </div>
                <div class="acontent a1">
                <p> {{ user.site }}</p>
                    </div>
            </div>

            </div>
        <div class="a2"></div>
        </div>

    <br><br>
    <div class="buttonretouruser ">

    <button class="btn"><a href="{{ path('user_index') }}">Retour</a></button>
    </div>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
